 <footer uk-scrollspy="target: > div.animated; cls: uk-animation-slide-bottom-medium; delay: 100; repeat: true">
     <div class="bg-dark py-5 animated">
      <div class="uk-container"> 
        <div class="uk-grid-small uk-child-width-expand@s" uk-grid>

          <div>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Terms &amp; Conditions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Privacy Policy</a>
              </li>
            </ul>
          </div>

          <div>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Account</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#login-modal" uk-toggle>Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/list">Find a Tutor</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/TutorRegistration">Be a Tutor</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/StudentRegistration">Be a Student</a>
              </li>
            </ul>
          </div>


          <div>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Follow Us</a>
              </li>
              <li class="nav-item">
                <span>
                  <a href="#" class="twitter"><i class="fab fa-twitter-square fa-2x"></i></a>
                  <a href="#" class="facebook"><i class="fab fa-facebook-square fa-2x"></i></a>
                  <a href="#" class="instagram"><i class="fab fa-instagram fa-2x"></i></a>
                </span>
              </li>
            </ul>
          </div>
        </div>
        <hr>
        <p id="copyright" class="main-text text-center">&copy; Copyright <%= new Date().getFullYear();%> All Rights Reserved</p>
      </div>
     </div>
   </footer>