<main uk-scrollspy="target: > div.animated; cls: uk-animation-slide-bottom-medium; delay: 100; repeat: true">
    <div class="animated">    
        <div class="uk-container my-5">
            <h1 class="main-text text-center">About LEARNT</h1>
            <h3 id="aboutSubt" class="main-text text-center">teachers + students = community</h3>
            <p class="uk-text-large">We are a passionate community of teachers and students from over 100 countries and territories around the world with diverse interests who are dedicated towards sharing knowledge and experience with each other.</p>

            
        </div>
    </div>    

    <div class="animated uk-container">
        <img src="/Assets/images/cheer.jpg" alt="Image of a drawing of five young people">

        <p class="main-text text-center mb-5">Made in Toronto, Canada</p>
    </div>
</main> 