<main uk-scrollspy="target: > div.animated; cls: uk-animation-slide-bottom-medium; delay: 100; repeat: true">
    <div class="uk-container my-5 animated">
        
        <!-- STUDENT UPDATE FORM -->
        <% //if(user.userType == "Student") { %>
            <h1 class="main-text text-center">Your Account Details</h1>

            <!-- BEGIN SECTION : STUDENT FORM  -->
            <form class="uk-form-horizontal my-5 w-75 d-block mx-auto" method="POST" autocomplete="off">
    
                <div class="uk-card uk-card-default uk-card-hover uk-card-body mb-5">
                    <!-- FIRSTNAME -->
                    <div class="mb-3">
                        <label class="uk-form-label uk-text-large" for="firstName">First Name</label>
                        <div class="uk-form-controls">
                            <input class="uk-form-large " id="firstName" type="text" name="firstName" required disabled >
                        </div>
                    </div>
    
                    <!-- LASTNAME -->
                    <div class="mb-3">
                        <label class="uk-form-label uk-text-large" for="lastName">Last Name</label>
                        <div class="uk-form-controls">
                            <input class="uk-form-large " id="lastName" type="text" name="lastName" required disabled>
                        </div>
                    </div>
    
                    <!-- EMAIL -->
                    <div class="mb-3">
                        <label class="uk-form-label uk-text-large" for="email">Email</label>
                        <div class="uk-form-controls">
                            <input class="uk-form-large " id="email" type="email" name="email" required disabled>
                        </div>
                    </div>
                </div>
    
                <h1 class="main-text text-center mt-5">Update Your Account</h1>
    
                <!-- MESSAGE AREA -->
                 <%- include ../partials/messages.ejs %>
    
    
                <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                    <!-- PASSWORD -->
                    <div class="mb-3">
                        <label class="uk-form-label uk-text-large" for="password">New Password</label>
                        <div class="uk-form-controls">
                            <input class="uk-form-large " id="password" type="password" placeholder="New Password" name="password" required autofocus>
                        </div>
                    </div>
    
                    <!-- TELEPHONE -->
                    <div class="mb-3">
                        <label class="uk-form-label uk-text-large" for="phone">Phone Number</label>
                        <div class="uk-form-controls">
                            <input class="uk-form-large " id="phone" type="tel" placeholder="123 456 7899" name="phone" required>
                        </div>
                    </div>
    
                     <!-- REGISTER AND CANCEL -->
                    <div class="text-center mt-4">
                        <a class="uk-button uk-button-primary main-text" href="" id="sendButton"><span uk-icon="pencil"></span> Update</a>
                        <a class="uk-button uk-button-secondary main-text" href="/TutorDashboard" id="becomeButton"><span uk-icon="cog"></span> Become a Tutor</a>
                        <a class="uk-button uk-button-danger main-text" href="/StudentDashboard"><span class="uk-margin-small-right" uk-icon="close"></span> Cancel</a>
                    </div>  
    
                </div>
            </form> 
            <!-- END SECTION : STUDENT FORM  -->
        <% //} %>


        
    </div>
</main> 