/* CUSTOM CSS GOES HERE */

/* CSS Variables */
:root {
    --background-color: #EEEEEE;
    --logo-color: #81F2B9;
    --regular-text-color: #222831;
}

/* Font-related CSS */
#logo-text{
    font-family: 'Poppins' !important;
    font-weight: 700 !important;
}

.nav-link{
    font-family: 'Poppins' !important;  
    font-weight: 600 !important;
}

.header-text{
    font-family: 'Poppins' !important;  
    font-weight: 700 !important;
}

.main-text{
    font-family: 'Poppins' !important;  
    font-weight: 600 !important;
}

body {
    font-family: 'Poppins', sans-serif !important;
}

/* Icons */
.twitter, .facebook, .instagram {
    color: var(--logo-color);
    margin-right: 0.3125em;
}