/* CUSTOM CSS GOES HERE */

/* CSS Variable declarations */
:root {
    --background-color: #f7f7f7;
    --logo-color:#71D6A3;
    --regular-text-color: #222831;
}

body {
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif !important;

}

hr {
    border-color: #282C31;
    
}

#copyright {
    margin-top: 40px;
}

#seeMoreButton {
    background-color: var(--logo-color);
    color: #FFFFFF;
    display: block;
    font-size: 1.5625em;
    font-weight: bold;
    line-height: 1.2;
    text-transform: capitalize;
    
}

/* Font-related CSS */
#logo-text{
    font-family: 'Poppins' !important;
    font-weight: 700 !important;
}

.nav-link{
    font-family: 'Poppins' !important;  
    font-weight: 600 !important;
}

.header-text{
    font-family: 'Poppins' !important;  
    font-weight: 700 !important;
}

.main-text{
    font-family: 'Poppins' !important;  
    font-weight: 600 !important;
}

/* Icons */
.twitter, .facebook, .instagram {
    color: var(--logo-color);
    margin-right: 0.3125em;
}